.App {
  text-align: center;
}

.header {
  height: 4rem;
}

.me-auto {
  font-size: 25px;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

.box {
  margin: 5px;
  border: 3px solid red;
}

.grid {
  padding-top: 5rem;
  margin: auto;
  width: 90%;
  /* border: 3px solid green; */
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(15% - 10px);
  /* flex-basis: auto; */
}

